.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #f4f4f5;
}

body {
  background-color: #005e8c;
}

@media only screen and (min-width: 576px) {
  body {
      background-color: #007bc2;
  }
}

@media only screen and (min-width: 768px) {
  body {
      background-color: #2b9dd6;
  }
}

.task {
  border: solid 1px;
  border-color: #005e8c;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
  background-color: #ffffff;
}

.tasks-completed {
  color: #73767c;
  text-decoration: line-through;
}

h1{
  color: #ffffff;
}